.primary-color {
    background-color: #01a08e !important;
    color: #ffffff !important;
}

a {
    color: #01a08e !important;
}

nav {
    flex-shrink: 0;
    color: white;
    background-color: #01a08e !important;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    color: white;

    margin-top: 20px;
    background-color: #01a08e !important;
    height: 10%;
}

.custom-navbar img {
    margin-top: 12px;
    height: 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
  .brand-logo {
    font-size: 0;
    width: 0;
    overflow: hidden;
  }

  .brand-logo::before {
    content: "SC";  
    font-size: 1.5rem;
    color: white;
    display: inline-block;
  }
}
